services:
  web:
    build: .
    container_name: mayawebsite
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
